body{
	padding-top: 70px;
}

.jumbotron {
	background-color: rgb(55, 90, 93);
	color:#ebe8c0;
	font-family: Raleway;
}

.navbar-inverse .navbar-nav>li>a {
    color: #ebe8c0;
    font-family: 'Merriweather', serif;
    font-size: 20px;
  }

 .navbar-inverse {
 	background-color: rgb(55, 90, 93);
 	font-family: 'Merriweather', serif;
 	font-size:20px;
 }

 .navbar-inverse .navbar-brand {
    color: #ebe8c0;
}

#special{
	font-size: 120px;
	font-family: Raleway;
}
